<div class="event">
  <div class="content">
    <div class="ui compact <%= "right floated" if current_user.username == message.user.username%> message">
      <a class="author"><%= message.user.username %></a>
      <em><%= message.body %></em>
    </div>
  </div>
</div>