<h4 class="ui center aligned small icon header">
  <i class="circular orange pencil icon"></i>
  Pencil Co.
</h4>

<div class="ui column grid">
  <!-- Column 1-->
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed" id="messages">
          <%= render @messages %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui column grid">
  <div class="twelve wide column">
    <div class="extra content">
      <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do |f| %>
        <div class="field">
          <div class="ui fluid icon input">
            <%= f.text_field :body, id: "message_content", data: { behavior: "room_speaker" }, placeholder: "Enter a message...", autocomplete: :off, remote: true%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>